<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <form>
    <input type="text" name="searcher" />
    <input type="submit" value="Search" />
    <br />
  </form>
  <input type="button" onclick="location.href='/signup';" value="Sign Up" />
  <input type="button" onclick="location.href='/login';" value="Login" />
  <div>
    <p>Market numbers</p>
  </div>
</div>
<div style="text-align:center">
  <div>
    <p>More Detailed Market Numbers</p>
  </div>
  <div>
    <p>Stock Leaders/Losers Of The Day</p>
  </div>
</div>

