<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a routerLink="/home" routerLinkActive="active">Stocks4Fun</a>
    </div>
    <nav>
      <div class="nav-mobile">
        <a id="nav-toggle">
          <span></span>
        </a>
      </div>
      <ul class="nav-list">
        <li>
          <a routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li>
          <a routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li>
          <a>Services</a>
          <ul class="nav-dropdown">
            <li>
              <a routerLink="/quotesearch" routerLinkActive="active" *ngIf="!isLoggedIn">Quote Search</a>
            </li>
            <li>
              <a routerLink="/buystocks" routerLinkActive="active" *ngIf="isLoggedIn">Buy Stocks</a>
            </li>
            <li>
              <a routerLink="/user" routerLinkActive="active" *ngIf="isLoggedIn">Profile</a>
            </li>
          </ul>
        </li>
        <li>
          <a routerLink="/login" routerLinkActive="active" *ngIf="!isLoggedIn">Login</a>
        </li>
        <li>
          <a routerLink="/register" routerLinkActive="active" *ngIf="!isLoggedIn">Register</a>
        </li>
        <li>
          <a routerLink="/home" routerLinkActive="active" *ngIf="isLoggedIn" (click)="logout()">Log Out</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
<router-outlet></router-outlet>