<!--The content below is only a placeholder and can be replaced.-->
  <section class="navigation">
    <div class="nav-container">
      <div class="brand">
        <a routerLink="/home"
          routerLinkActive="active">Stocks4Fun</a>
      </div>
      <nav>
        <div class="nav-mobile">
          <a id="nav-toggle"><span></span></a>
        </div>
        <ul class="nav-list">
          <li><a routerLink="/home"
            routerLinkActive="active">Home</a></li>
          <li><a routerLink="/about"
              routerLinkActive="active">About</a></li>           
          <li><a>Services</a>
            <ul class="nav-dropdown">
              <li><a routerLink="/quotesearch"
                routerLinkActive="active">Quote Search</a></li>
              <li><a routerLink="/marketperformance"
                routerLinkActive="active">Market Performance</a></li>
            </ul>
          </li>
          <li><a routerLink="/login"
            routerLinkActive="active">Login/Signup</a></li>
        </ul>
      </nav>
    </div>
  </section>
<router-outlet></router-outlet>