<div class="boxed">
    <div *ngIf="TheUsers">
        <h2>My User Items</h2>
        <ul class="Useritems">
            <li *ngFor="let UserPlaceholder of TheUsers" (click)="onSelect(UserPlaceholder)" [class.selected]="UserPlaceholder === selectedUserItem">
                <span class="badge">{{UserPlaceholder.username}}</span> {{UserPlaceholder.password}} {{UserPlaceholder.firstname}} {{UserPlaceholder.lastname}} 
            </li>
        </ul>
    </div>

    <div *ngIf="selectedUserItem">
        <h2>{{selectedUserItem.username | uppercase}} </h2>
        <div>
            <label>First Name:
                <input [(ngModel)]="selectedUserItem.firstname">
            </label><br />
            <label>Last Name:
                <input [(ngModel)]="selectedUserItem.lastname">
            </label><br />
            <label>Username:
                <input [(ngModel)]="selectedUserItem.username">
            </label>
            <br />
            <label>Password:
                <input [(ngModel)]="selectedUserItem.password">
            </label>
            <br />
            <label>_id:
                <input [(ngModel)]="selectedUserItem._id">
            </label><br />
            <button (click)="deleteUser(selectedUserItem._id)">
                Delete
            </button>
            <span> or  </span>
            <button (click)="updateUser(selectedUserItem.username)">
                    Update
            </button>
        </div>
    </div>

    <div>
        <br />
        <br />
        <h3>Add new User</h3>
        <label>First Name:
            <input #firstname2 />
        </label>
        <br />
        <label>Last Name:
            <input #lastname2 />
        </label>
        <br />
        <label>Username:
            <input #username2 />
        </label>
        <br />
        <label>Password:
            <input #password2 />
        </label>
        <br />
        <br />
        <!-- (click) passes input values to addNew() and then clears the input -->
        <button (click)="addNew(firstname2.value, lastname2.value, username2.value, password2.value);
             firstname2.value=''; lastname2.value=''; username2.value=''; password2.value=''; ">
            Click to add
        </button>
    </div>
<!-- end of our boxed div -->
</div> 