<div id="search-component">
  <h4>Quote Search</h4>
  <h5>Enter the symbol to get details</h5>

  <input type="text" [(ngModel)]="searchText" 
   placeholder="symbol" #searchTerm/>
  <button type="submit" (click)="getStock(searchTerm.value)">Quote Search</button>
  <div *ngIf="searchResult">
    <table class="searchResultClass">
      <tr class="searchResultsTr">
        <th class="searchResultTh">Symbol</th>
        <th class="searchResultTh">Name</th>
        <th class="searchResultTh">Price</th>
        <th class="searchResultTh">Change</th>
      </tr>
      <tr class="searchResultTr">
        <th class="searchResultTh">{{searchResult.symbol}}</th>
        <th class="searchResultTh">{{searchResult.name}}</th>
        <th class="searchResultTh">{{searchResult.price}}</th>
        <th class="searchResultTh">{{searchResult.change}}</th>
      </tr>
    </table>
</div>
</div>
