<div id="search-component">
  <h4>Quote Search</h4>
  <h5>Enter the symbol to get details</h5>

  <input type="text" [(ngModel)]="searchText" placeholder="symbol" #searchTerm />
  <button type="submit" (click)="getStock(searchTerm.value)">Quote Search</button>
  <div *ngIf="searchResult">
    <table class="searchResultClass">
      <tr class="searchResultsTr">
        <th class="searchResultTh">Symbol</th>
        <th class="searchResultTh">Name</th>
        <th class="searchResultTh">Price</th>
        <th class="searchResultTh" *ngIf="showChange">Change</th>
      </tr>
      <tr class="searchResultTr" *ngFor="let eachStock of searchResult">
        <th class="searchResultTh">{{eachStock.symbol}}</th>
        <th class="searchResultTh">{{eachStock.name}}</th>
        <th class="searchResultTh">{{eachStock.price}}</th>
        <th class="searchResultTh">{{eachStock.change_pct}}</th>
      </tr>
    </table>
  </div>
</div>