<section>
  <h2>Market Stocks</h2>
  <div *ngIf="apiMarketData" class="table-responsive">
    <table class="table table-striped col-xs-12">
      <thead>
        <tr >
            <th>Symbol</th>
            <th>Name</th>
            <th>Price</th>
            <th *ngIf="showChange">Change</th>
          </tr>
      </thead>
      <tbody>
        <tr id="testMarket" *ngFor="let eachMarket of apiMarketData">
          <td>{{eachMarket.symbol}}</td>
          <td>{{eachMarket.name}}</td>
          <td>${{eachMarket.price}}</td>
          <td *ngIf="showChange">{{eachMarket.change_pct}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<hr />
<section>
  <h2>Top Dow Jones Dividend Stocks</h2>
  <div *ngIf="dowJonesStocks" class="table-responsive">
    <table class="table table-striped col-xs-12">
      <thead>
        <tr >
            <th>Symbol</th>
            <th>Name</th>
            <th>Price</th>
            <th *ngIf="showChange">Change</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let eachStock of dowJonesStocks">
          <td>{{eachStock.symbol}}</td>
          <td>{{eachStock.name}}</td>
          <td>${{eachStock.price}}</td>
          <td *ngIf="showChange">{{eachStock.change_pct}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<br />
<section>
  <h2>Top S&P 500 Dividend Stocks</h2>
  <div *ngIf="sp500Stocks" class="table-responsive">
    <table class="table table-striped col-xs-12">
      <thead>
        <tr >
            <th>Symbol</th>
            <th>Name</th>
            <th>Price</th>
            <th *ngIf="showChange">Change</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let eachStock of sp500Stocks">
          <td>{{eachStock.symbol}}</td>
          <td>{{eachStock.name}}</td>
          <td>${{eachStock.price}}</td>
          <td *ngIf="showChange">{{eachStock.change_pct}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<br />
<section>
  <h2>Top Nasdaq Dividend Stocks</h2>
  <div *ngIf="nasdaqStocks" class="table-responsive">
    <table class="table table-striped col-xs-12">
      <thead>
        <tr >
            <th>Symbol</th>
            <th>Name</th>
            <th>Price</th>
            <th *ngIf="showChange">Change</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let eachStock of nasdaqStocks">
          <td>{{eachStock.symbol}}</td>
          <td>{{eachStock.name}}</td>
          <td>${{eachStock.price}}</td>
          <td *ngIf="showChange">{{eachStock.change_pct}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>