<section>
  <h2>Market Stocks</h2>
  <div *ngIf="apiMarketData" class="table-responsive">
    <table class="table table-striped col-xs-12">
      <tbody>
        <tr>
          <th>Symbol</th>
          <th>Name</th>
          <th>Price</th>
          <th *ngIf="showChange">% Change</th>
        </tr>
        <tr id="testMarket" *ngFor="let eachMarket of apiMarketData">
          <th>{{eachMarket.symbol}}</th>
          <th>{{eachMarket.name}}</th>
          <th>{{eachMarket.price}}</th>
          <th *ngIf="showChange">{{eachMarket.change_pct}}</th>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<hr />
<section>
  <h2>Top Dow Jones Dividend Stocks</h2>
  <div *ngIf="dowJonesStocks" class="table-responsive">
    <table class="table table-striped col-xs-12">
      <tbody>
        <tr>
          <th>Symbol</th>
          <th>Name</th>
          <th>Price</th>
          <th *ngIf="showChange">% Change</th>
        </tr>
        <tr *ngFor="let eachStock of dowJonesStocks">
          <th>{{eachStock.symbol}}</th>
          <th>{{eachStock.name}}</th>
          <th>{{eachStock.price}}</th>
          <th *ngIf="showChange">{{eachStock.change_pct}}</th>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<br />
<section>
  <h2>Top S&P 500 Dividend Stocks</h2>
  <div *ngIf="sp500Stocks" class="table-responsive">
    <table class="table table-striped col-xs-12">
      <tbody>
        <tr>
          <th>Symbol</th>
          <th>Name</th>
          <th>Price</th>
          <th *ngIf="showChange">% Change</th>
        </tr>
        <tr *ngFor="let eachStock of sp500Stocks">
          <th>{{eachStock.symbol}}</th>
          <th>{{eachStock.name}}</th>
          <th>{{eachStock.price}}</th>
          <th *ngIf="showChange">{{eachStock.change_pct}}</th>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<br />
<section>
  <h2>Top Nasdaq Dividend Stocks</h2>
  <div *ngIf="nasdaqStocks" class="table-responsive">
    <table class="table table-striped col-xs-12">
      <tbody>
        <tr>
          <th>Symbol</th>
          <th>Name</th>
          <th>Price</th>
          <th *ngIf="showChange">% Change</th>
        </tr>
        <tr *ngFor="let eachStock of nasdaqStocks">
          <th>{{eachStock.symbol}}</th>
          <th>{{eachStock.name}}</th>
          <th>{{eachStock.price}}</th>
          <th *ngIf="showChange">{{eachStock.change_pct}}</th>
        </tr>
      </tbody>
    </table>
  </div>
</section>